# 파이썬 기초3
## 2. 데이터 취득과 가공

본 장은 ["따라 하며 배우는 데이터 과학"](https://dataninja.me/ipds-kr/) 3장의 
"데이터 취득과 데이터 가공: SQL과 dplyr" 내용의 파이썬 버전입니다.

### 데이터 과학의 원재료는 데이터다.
- (장을 보는 기술)데이터 과학의 기본 기술은 데이터를 여러소스로부터 분석 플랫폼으로 읽어 들이는 데이터 취득(data aquisition or data import) 및
- (칼질)데이터를 분석 플랫폼 안에서 필요한 모양으로 가공해내는 데이터 가공(data processing, data wrangling) 기술이다.

## 데이터 취득
- 데이터 분석 실무에서 데이터 소스는 대부분의 경우 다음 중 하나이다.
    1. 표 형태 텍스트 파일: 대부분 컴마나 탭문자로 열이 구분된 형태이다.
    2. 엑셀 파일: 엑셀 파일은 확장자가 xls 혹은 xlsx인 마이크로소프트 엑셀 형식 파일이다.(csv도 포함된다.)
    3. 관계형 데이터베이스(RDBMS): 오라클과 같은 상용 데이터베이스나 MySQL, PostgreSQL 같은 오픈소스 데이터베이스 시스템이다. 데이터를 데이터베이스 테이블에 저장한다.
    4. 다른 소프트웨어용 이진(binary) 파일: SAS, SPSS 등의 소프트웨어는 자체 데이터 포맷을 사용한다.

#### Data Sources:
- `data/gapminder.tsv` : https://raw.githubusercontent.com/jennybc/gapminder/master/data-raw/08_gap-every-five-years.tsv

In [2]:
# matplotlib 패키지의 출력 세팅
# %matplotlib inline
# pandas 패키지 불러오기
import pandas as pd
# numpy 패키지 불러오기
import numpy as np

# 1. gapminder 자료 읽어들이기

In [6]:
# gapminder 자료를 다운로드하고 판다스 데이터프레임으로 읽어들이자
gapminder = pd.read_csv("gapminder.tsv", sep="\t")

In [7]:
# 첫 5행 불러오기
gapminder.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [8]:
# 끝 5행 불러오기
gapminder.tail()

       country continent  year  lifeExp       pop   gdpPercap
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [9]:
# 데이터 정보
gapminder.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [10]:
# 요약통계
gapminder.describe()

             year      lifeExp           pop      gdpPercap
count  1704.00000  1704.000000  1.704000e+03    1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081
std      17.26533    12.917107  1.061579e+08    9857.454543
min    1952.00000    23.599000  6.001100e+04     241.165877
25%    1965.75000    48.198000  2.793664e+06    1202.060309
50%    1979.50000    60.712500  7.023596e+06    3531.846989
75%    1993.25000    70.845500  1.958522e+07    9325.462346
max    2007.00000    82.603000  1.318683e+09  113523.132900

## 데이터 가공
- 원데이터를 여러 연산을 통해서 필요한 시각화, 모형화에서 사용할 수 있는 데이터, 즉 적절한 관측치는 행(row)으로, 적절한 변수(variables)는 열(column)로 되어 있는 테이블 형태로 변환하는 작업이다.
- 즉 목적 데이터는
    1. 테이블 형태이다.
    2. 각 행(row)은 적절한 관측치를 나타낸다.
    3. 각 열(column)은 적절한 변수를 나타낸다.

![행과열](column&row.gif)

- 데이터를 어떻게(how) 분석할지에 대한 지식은 통계학, 데이터 마이닝의 기반 지식이 필요로 한다.
- 그러나, 데이터 분석 실무에서 보통 데이터 과학자의 데이터 분석 작업 시간의 70~80% 이상은 데이터 가공에 소요된다.
- 적절한 지식과 데이터 가공 역량을 보유하여야 퍼포먼스를 높일 수 있다.

# 데이터를 처리하는 핵심 동사

## 1. 행을 선택하기

In [11]:
# gapminder 데이터에서 한국 데이터, 2007년 데이터, 한국 2007년 데이터를 추출하는 명령은 다음과 같다.
gapminder.query("country == 'Korea, Rep.' & year == 2007")

         country continent  year  lifeExp       pop    gdpPercap
851  Korea, Rep.      Asia  2007   78.623  49044790  23348.13973

## 2. 행(관측치)를 정렬하기

In [14]:
#  gapminder 데이터를 year, country 변수순으로 정렬하려면,
gapminder.sort_values(by = ["year", "country"])

,country,continent,year,lifeExp,pop,gdpPercap
0,Afghanistan,Asia,1952,28.801,8425333,779.445314
12,Albania,Europe,1952,55.230,1282697,1601.056136
24,Algeria,Africa,1952,43.077,9279525,2449.008185
36,Angola,Africa,1952,30.015,4232095,3520.610273
48,Argentina,Americas,1952,62.485,17876956,5911.315053
60,Australia,Oceania,1952,69.120,8691212,10039.595640
72,Austria,Europe,1952,66.800,6927772,6137.076492
84,Bahrain,Asia,1952,50.939,120447,9867.084765
96,Bangladesh,Asia,1952,37.484,46886859,684.244172
108,Belgium,Europe,1952,68.000,8730405,8343.105127
120,Benin,Africa,1952,38.223,1738315,1062.752200
132,Bolivia,Americas,1952,40.414,2883315,2677.326347
144,Bosnia and Herzegovina,Europe,1952,53.820,2791000,973.533195
156,Botswana,Africa,1952,47.622,442308,851.241141
168,Brazil,Americas,1952,50.917,56602560,2108.944355
180,Bulgaria,Europe,1952,59.600,7274900,2444.286648
192,Burkina Faso,Africa,1952,31.975,4469979,543.255241
204,Burundi,Africa,1952,39.031,2445618,339.296459
216,Cambodia,Asia,1952,39.417,4693836,368.469286
228,Cameroon,Africa,1952,38.523,5009067,1172.667655
240,Canada,Americas,1952,68.750,14785584,11367.161120
252,Central African Republic,Africa,1952,35.463,1291695,1071.310713
264,Chad,Africa,1952,38.092,2682462,1178.665927
276,Chile,Americas,1952,54.745,6377619,3939.978789
288,China,Asia,1952,44.000,556263527,400.448611
300,Colombia,Americas,1952,50.643,12350771,2144.115096
312,Comoros,Africa,1952,40.715,153936,1102.990936
324,"Congo, Dem. Rep.",Africa,1952,39.143,14100005,780.542326
336,"Congo, Rep.",Africa,1952,42.111,854885,2125.621418
348,Costa Rica,Americas,1952,57.206,926317,2627.009471
...,...,...,...,...,...,...
1355,Sierra Leone,Africa,2007,42.568,6144562,862.540756
1367,Singapore,Asia,2007,79.972,4553009,47143.179640
1379,Slovak Republic,Europe,2007,74.663,5447502,18678.314350
1391,Slovenia,Europe,2007,77.926,2009245,25768.257590
1403,Somalia,Africa,2007,48.159,9118773,926.141068
1415,South Africa,Africa,2007,49.339,43997828,9269.657808
1427,Spain,Europe,2007,80.941,40448191,28821.063700
1439,Sri Lanka,Asia,2007,72.396,20378239,3970.095407
1451,Sudan,Africa,2007,58.556,42292929,2602.394995
1463,Swaziland,Africa,2007,39.613,1133066,4513.480643
1475,Sweden,Europe,2007,80.884,9031088,33859.748350
1487,Switzerland,Europe,2007,81.701,7554661,37506.419070
1499,Syria,Asia,2007,74.143,19314747,4184.548089
1511,Taiwan,Asia,2007,78.400,23174294,28718.276840
1523,Tanzania,Africa,2007,52.517,38139640,1107.482182
1535,Thailand,Asia,2007,70.616,65068149,7458.396327
1547,Togo,Africa,2007,58.420,5701579,882.969944
1559,Trinidad and Tobago,Americas,2007,69.819,1056608,18008.509240
1571,Tunisia,Africa,2007,73.923,10276158,7092.923025
1583,Turkey,Europe,2007,71.777,71158647,8458.276384
1595,Uganda,Africa,2007,51.542,29170398,1056.380121
1607,United Kingdom,Europe,2007,79.425,60776238,33203.261280
1619,United States,Americas,2007,78.242,301139947,42951.653090
1631,Uruguay,Americas,2007,76.384,3447496,10611.462990
1643,Venezuela,Americas,2007,73.747,26084662,11415.805690
1655,Vietnam,Asia,2007,74.249,85262356,2441.576404
1667,West Bank and Gaza,Asia,2007,73.422,4018332,3025.349798
1679,"Yemen, Rep.",Asia,2007,62.698,22211743,2280.769906
1691,Zambia,Africa,2007,42.384,11746035,1271.211593
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298

## 3. 열(변수)를 선택하기

In [15]:
#  gapminder 데이터에서 pop, gdpPercap 변수만 선택.
gapminder[["pop", "gdpPercap"]].head()

        pop   gdpPercap
0   8425333  779.445314
1   9240934  820.853030
2  10267083  853.100710
3  11537966  836.197138
4  13079460  739.981106

In [21]:
# 행은 인덱싱이나 슬라이싱
# 열은 해당 칼럼명이나 인덱싱이나 슬라이싱
gapminder.ix[100,"country"]
gapminder.ix[1,3:5]

lifeExp     30.332
pop        9240934
Name: 1, dtype: object

## 4. 변수 변환하기

In [ ]:
#  gapminder 데이터에서 기존의 변수들을 변환한 결과를 기존 변수나 새 변수에 할당한다. 

# 1. 파이썬에서는 각 변수 할당에 새로운 assign() 함수를 사용해야 한다.
# 2. x.pop 은 내부의 pop() 함수와 충돌을 일으키므로 x['pop']으로 표현했다.
# 3. lambda는 함수를 생성할 때 사용하는 예약어로, def와 동일한 역할을 한다. 
# 보통 함수를 한줄로 간결하게 만들 때 사용한다. 우리말로는 "람다"라고 읽고 def를 사용해야 할 정도로 복잡하지 않거나 def를 사용할 수 없는 곳에 주로 쓰인다.
# lambda 인수1, 인수2, ... : 인수를 이용한 표현식
gapminder.\
    assign(total_gdp ).\
    assign(le_gdp_ratio ).\
    assign(lgrk = ).\
    head()

## 5. 요약 통계량 계산하기

In [ ]:
# 평균, 중앙값 계산
gapminder.aggregate(['mean', 'median'])

## 6. 랜덤 샘플을 위한 sample()

- 컴퓨터 프로그램에서 발생하는 무작위 수는 사실 엄격한 의미의 무작위 수가 아니다. 어떤 특정한 시작 숫자를 정해 주면 컴퓨터가 정해진 알고리즘에 의해 마치 난수처럼 보이는 수열을 생성한다. 이런 시작 숫자를 시드(seed)라고 한다.
- 일단 생성된 난수는 다음번 난수 생성을 위한 시드값이 된다. 따라서 시드값은 한 번만 정해주면 된다. 시드는 보통 현재 시각등을 이용하여 자동으로 정해지지만 사람이 수동으로 설정할 수도 있다. 특정한 시드값이 사용되면 그 다음에 만들어지는 난수들은 모두 예측할 수 있다. 이 책에서는 코드의 결과를 재현하기 위해 항상 시드를 설정한다.

In [ ]:
# 무작위 발생을 위한 seed 셋팅

# gapminder에서 무작위 10개 고르기

## 7. 고유한 행을 찾아내는 unique( )

In [ ]:
# gaminder 국가와 연도의 고유한 1가지 행을 찾기

In [ ]:
# 중복 제거

# group_by() 를 이용한 그룹 연산

In [ ]:
# 2007년의 # 대륙별로 그룹화하여 # lifeEXP의 중앙값을 구하라
gapminder.\
    query().\
    groupby().\
    agg()

# 조인 연산자;  inner, outer, left, right join
```
파이썬 판다스에서는 `DataFrame.merge` 함수로 처리하면 된다.

In [ ]:
# df1 만들기
df1 = 
df1

In [ ]:
# df2 만들기
df2 = 
df2

![그룹연산](data join50.png)

In [ ]:
# inner join

In [ ]:
# outer join

In [ ]:
# left join

In [ ]:
# right join